<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="D:/develops/repo/mysql/mysql-connector-java/5.1.40/mysql-connector-java-5.1.40.jar"/>

    <context id="config" targetRuntime="MyBatis3">
        <!--<commentGenerator>
             &lt;!&ndash; 是否去除自动生成的注释 true：是 ： false:否 &ndash;&gt;
             <property name="suppressAllComments" value="true" />
         </commentGenerator>-->
        <commentGenerator type="org.mybatis.generator.internal.DG2CommentGenerator">
            <property name="javaFileEncoding" value="UTF-8"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <!--建议一定要保留suppressAllComments属性(使用默认值false)，
            一定要取消(设为true)时间戳suppressDate，避免重复提交SVN。-->
            <property name="suppressAllComments" value="false" />
            <property name="suppressDate" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/asgard?useUnicode=true&amp;characterEncoding=utf-8"
                        userId="root"
                        password="anwhere">
        </jdbcConnection>


        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- model class config -->
        <javaModelGenerator targetPackage="com.zoo.swaggerext.zooswaggerext.model"
                            targetProject="zoo-swaggerwxt/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapping"
                         targetProject="zoo-swaggerwxt/src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.zoo.swaggerext.zooswaggerext.mapper"
                             targetProject="zoo-swaggerwxt/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="supplier_basic_info">
            <!--<generatedKey column="id" sqlStatement="mysql" identity="true"/>-->
        </table>
    </context>
</generatorConfiguration>