<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="/Users/yanhaizhe/.m2/repository/mysql/mysql-connector-java/5.1.44/mysql-connector-java-5.1.44.jar"/>

    <context id="config" targetRuntime="MyBatis3">
        <!--<commentGenerator>
             &lt;!&ndash; 是否去除自动生成的注释 true：是 ： false:否 &ndash;&gt;
             <property name="suppressAllComments" value="true" />
         </commentGenerator>-->
        <commentGenerator type="org.mybatis.generator.internal.DG2CommentGenerator">
            <property name="javaFileEncoding" value="UTF-8"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <!--建议一定要保留suppressAllComments属性(使用默认值false)，
            一定要取消(设为true)时间戳suppressDate，避免重复提交SVN。-->
            <property name="suppressAllComments" value="false" />
            <property name="suppressDate" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/asgard?useUnicode=true&amp;characterEncoding=utf-8"
                        userId="root"
                        password="anywhere">
        </jdbcConnection>


        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- model class config -->
        <javaModelGenerator targetPackage="io.terminus.asgard.asgardapi.model"
                            targetProject="/Users/yanhaizhe/workspace/terminus/asgard/asgard-api/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper"
                         targetProject="/Users/yanhaizhe/workspace/terminus/asgard/asgard-service/src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="io.terminus.asgard.asgardservice.mapper"
                             targetProject="/Users/yanhaizhe/workspace/terminus/asgard/asgard-service/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>



        <table tableName="purchaser_account">
            <!--<generatedKey column="id" sqlStatement="mysql" identity="true"/>-->
            <!--<ignoreColumn column="created_by"></ignoreColumn>-->
            <!--<ignoreColumn column="last_updated_by"></ignoreColumn>-->
            <!--<ignoreColumn column="created_at"></ignoreColumn>-->
            <!--<ignoreColumn column="last_updated_at"></ignoreColumn>-->
            <!--<ignoreColumn column="extra_json"></ignoreColumn>-->
            <!--<ignoreColumn column="options"></ignoreColumn>-->
            <!--<ignoreColumn column="is_deleted"></ignoreColumn>-->
        </table>
        <table tableName="purchaser_basic_info">
        </table>
        <table tableName="purchaser_company_info">
        </table>
        <table tableName="purchaser_company_tax_info">
        </table>
        <table tableName="purchaser_info_component">
        </table>
        <table tableName="purchaser_interested_info_component">
        </table>
        <table tableName="purchaser_rate_template">
        </table>
        <table tableName="purchaser_rate_template_module">
        </table>
        <table tableName="purchaser_supplier_basic_info">
        </table>
        <table tableName="purchaser_supplier_investigate_result">
        </table>
        <table tableName="purchaser_supplier_rate_template_result">
        </table>
        <table tableName="purchaser_supplier_tag">
        </table>
        <table tableName="purchaser_tag_setting">
        </table>
        <table tableName="supplier_account">
        </table>
        <table tableName="supplier_bank_info">
        </table>
        <table tableName="supplier_basic_info">
        </table>
        <table tableName="supplier_company_info">
        </table>
        <table tableName="supplier_company_tax_info">
        </table>
        <table tableName="supplier_info_component">
        </table>
        <table tableName="tenant_account">
        </table>
        <table tableName="tenant_basic_info">
        </table>
        <table tableName="tenant_purchaser_info_component_setting">
        </table>
        <table tableName="tenant_supplier_info_component_setting">
        </table>
    </context>
</generatorConfiguration>